.step {
    height: 700px;
    background: #fde7ef;
    position: relative;
  }
  .step .stepbox {
    width: 800px; height: 600px;
    background: url(https://user-images.githubusercontent.com/106949433/188998629-e1cb8ac8-0263-4b69-935d-eacd186c2535.jpg);
    border-radius: 0;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    animation: ani 1s steps(24, start) infinite;
  }
  .step .stepbox.start {
    animation-play-state: running;
  }
  .step .stepbox.stop {
    animation-play-state: paused;
  }
  @keyframes ani {
    0% {background-position: 0 0;}
    100% {background-position: -19200px 0;}
  }
  .stepBtn {
    position: absolute; left: 15px; top: 20px;
  }
  .stepBtn a {
    background: #e16162; color: #fff;
    padding: 10px;
    margin: 3px;
    border-radius: 3px;
  }